<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lizard Crypto</title>
    <link rel="stylesheet" href="../static/home-style.css">

</head>

<body>
    <header>
        <div id="nav">
            <img src="../static/image/CG-Symbol.svg" class="logo">
            <p id="lizard-crypto">LIZARD CRYPTO</p>
            <span id="account-btn">CONNEXION</span>
        </div>

    </header>
    <main>
        <h1>LIZARD CRYPTO</h1>
        <p>Ce projet est une application web dédiée à la visualisation des données de marché des crypto-monnaies. Il
            présente une sélection des 100 principales crypto-monnaies classées par capitalisation boursière.</p>
        <p>L'intégralité des données présentées est récupérée via la CoinGecko API. Cette source a été choisie pour
            la fiabilité et la richesse de ses données de marché.</p>
        <p>Documentation de l'API : https://docs.coingecko.com/v3.0.1/reference/authentication</p>
        <p>Les Collections choisis sont des crypto connues du marchée</p>
        <p>Nous utilisons principalement les endpoints suivants pour construire la structure et le contenu des pages
            :</p>
        <div id="documentation-info">
            <h2>Ressources et Endpoints</h2>
            <p>- Les 100 crypto les plus celebres</p>
            <p>- https://api.coingecko.com/api/v3/coins/markets </p>
            <p>- monnaie,cours,24h,market cap</p>
        </div>
        <a href="/home">Back to menu</a>
    </main>
</body>
</html>