<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Title</title>
    <link rel="stylesheet" href="../static/home-style.css">

</head>
<body>
    <header>
        <div id="nav">
            <img src="../static/image/CG-Symbol.svg" class="logo">
            <a href="/home" class="top">Lizard crypto</a>
            <a href="/list" class="top">Crypto currencies</a>

            <form action="/search" method="get" class="search-box">
                <img type="submit" src="../static/image/search_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg"
                    class="search-bar-logo">
                <input type="text" placeholder="Rechercher...">
            </form>

            <a ref="/aboutus"class="top">About us</a>
            <span id="account-btn">MY ACCOUNT</span>
        </div>

    </header>


    <script src="../static/app.js" type="module"></script>

</body>

</html>