<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Title</title>
    <link rel="stylesheet" href="../static/ressources-style.css">

</head>

<body>
    <header>
        <img src="../static/image/CG-Symbol.svg" class="coin-logo">
        <span>Lizard crypto</span>
        <span>Crypto currencies</span>
        <span>About us</span>
        <span id="account">MY ACCOUNT</span>
    </header>
    <div id="horizontal-seperator"></div>
    <main>
        <div class="left-part">
            <div id="symbol">
                <img src="../static/image/bitcoin.svg.png" class="crypto-logo">
                <span>BITCOIN</span>
            </div>
        </div>

        <div id="vertical-div"></div>
        
        <div class="right-part">

        </div>
    </main>
    <footer>

    </footer>
</body>

</html>