* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: #19256E;
    background-image: radial-gradient(circle at 50% 40%,
            rgba(20, 70, 157, 0.4) 0%,
            rgba(25, 37, 110, 1) 70%);
    font-family: "Unbounded", sans-serif;
    color: white
}

@font-face {
    font-family: "Unbounded";
    src: url("../static/fonts/unbounded-medium.ttf") format("truetype");
    font-weight: medium;
    font-style: normal;
}

#nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 100%;
}

.logo {
    width: 63px;
    height: 63px;
}


header {
    flex-shrink: 0;
    margin-top:15px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px #fff solid;
}
.search-box {
    display: flex;
    width: 250px;
    border: 2px solid white;   
    border-radius: 25px;
    overflow: hidden;
    background-color: #fff;   
}

.search-box input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #fff;  
    color: #000;          
}

.search-box button {
    padding: 10px 15px;
    border: none;
    background: white;      
    color: white;               
    cursor: pointer;
    font-size: 1rem;
}

.search-box input::placeholder {
    color: rgb(210, 210, 210);  
    opacity: 0.8;
    font-family: "Unbounded"; 
      
}

.search-bar-logo {
    margin-left: 20px;
    fill: #4BCC00;
}
#link-home {
    font-size: 2rem;
    text-decoration: underline;
}
.top {
    font-family: "Unbounded", sans-serif;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
}

.top:hover {
    color: #4BCC00;
}

#account-btn{
    font-family: "unbounded", sans-serif;
    color: white;
    background-color: #4BCC00;
    border-radius: 30px;
    padding: 15px;
    cursor: pointer;
    font-size: 0.8rem;
}

#account-btn:hover {
    color: white;
    background-color: #40ac02;
}
main {
    display: flex;
    justify-content: center;
    width: 100%;
}
.bloc {
    width: 1000px;       
    padding: 0px 20px;
    text-align: justify;
    line-height: 2.5;   
    
}
h1 {
    margin: 0px;
}
h2 {
    margin: 0px;
}
p {
    margin:14px;
}