* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: #19256E;
    background-image: radial-gradient(circle at 50% 40%,
            rgba(20, 70, 157, 0.4) 0%,
            rgba(25, 37, 110, 1) 70%);
    font-family: "Unbounded", sans-serif;
    color: white
}

@font-face {
    font-family: "Unbounded";
    src: url("../static/fonts/unbounded-medium.ttf") format("truetype");
    font-weight: medium;
    font-style: normal;
}


header {
    flex-shrink: 0;
    margin: 15px 0px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px #fff solid;
}