* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #19256E;
    background-image: radial-gradient(circle at 50% 40%, rgba(20, 70, 157, 0.4) 0%, rgba(25, 37, 110, 1) 70%);
    font-family: "Unbounded", sans-serif;
    color: white
}

@font-face {
    font-family: "Unbounded";
    src: url("../static/fonts/unbounded-medium.ttf") format("truetype");
    font-weight: medium;
    font-style: normal;
}


header {
    flex-shrink: 0;
    margin: 15px 0px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px #fff solid;
}

#nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 70%; 
    height: 100%;
    position: relative; 
}

.logo {
    width: 63px;
    height: 63px;
}

#lizard-crypto {
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
    font-size: 50px;
    margin: 0;
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1;               
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;       
    margin: 40px 0;    
}

.search-box {
    display: flex;
    width: 30%;
    height: 110%;
    border: 2px solid white;
    border-radius: 25px;
    overflow: hidden;
    background-color: #fff;
}

.search-box input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #fff;
    color: #000;
    
}

.search-box button {
    display: flex;
    padding: 10px 15px;
    border: none;
    background: white;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

.search-box input::placeholder {
    color: rgb(210, 210, 210);
    opacity: 0.8;
    font-family: "Unbounded";
}

.search-bar-logo {
    margin-left: 20px;
    fill: #4BCC00;
}

.top {
    font-family: "Unbounded", sans-serif;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
}

.top:hover {
    color: #4BCC00;
}

#account-btn {
    font-family: "unbounded", sans-serif;
    color: white;
    background-color: #4BCC00;
    border-radius: 30px;
    padding: 15px;
    cursor: pointer;
    font-size: 1rem;
}

#account-btn:hover {
    color: white;
    background-color: #40ac02;
}

.crypto-market {
    width: 1096px;
    height: 298px;
    background-color: white;
    border-radius: 60px; 
    margin: 0px auto; 
    position: relative; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.img-crypto-market {
    position: absolute;
    width: 1096px;
    height: 298px;
    object-fit: cover;
    z-index: 1;
}

.form-crypto-market {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
#button-crypto-market {
    background-color: transparent; 
    border: none;
    border-radius: 60px;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family:"unbounded", sans-serif;
    font-weight: bold;
    font-size: 2.5rem; 
    color: #000000;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

footer {
    width: 100%;
    flex-shrink: 0;
    background-color: #0a1455;
    padding: 30px 5%;
    color: white;
}

.footer-contener {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1400px;
    margin: 0 auto; 
    font-family: "Unbounded", sans-serif;
}

.footer-left {
    display: flex;
    flex-direction: column;
    flex: 2; 
    padding-right: 20px;
}

.footer-left p {
    margin: 0;
}

.footer-left .up p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4BCC00;
    margin-bottom: 5px;
}


.footer-left .down p {
    font-size: 0.9rem;
    color: #AEAEAE;
    max-width: 350px;
    line-height: 1.4;
}

.footer-right {
    display: flex;
    flex-direction: column;
    text-align: right; 
    flex: 1; 
}


.footer-right p {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 10px;
    color: white;
}

.footer-right a {
    font-family: sans-serif;
    color: #AEAEAE;
    text-decoration: none;
    font-size: 0.9rem;
    margin-bottom: 5px;
    transition: color 0.2s;
}

.footer-right a:hover {
    color: #4BCC00;
    text-decoration: underline;
}
