* {
    box-sizing: border-box;
}
html, body {
    background-color: #19256E;
    background-image: radial-gradient(
        circle at 50% 40%,         /* Position : Cercle centré horizontalement (50%), un peu plus haut que le milieu (40%) */
        rgba(20, 70, 157, 0.4) 0%, /* COULEUR CENTRALE : Un bleu plus clair et transparent (la lumière) */
        rgba(25, 37, 110, 1) 70%    /* COULEUR BORDS : Le bleu foncé de base, opaque */
    );
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

@font-face {
    font-family: "Unbounded";
    src: url("../static/fonts/unbounded-medium.ttf") format("truetype");
    font-weight: medium;
    font-style: normal;
}

header {
    flex-shrink: 0;
    margin: 15px 0px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.coin-logo {
    width: 63px;
    height: 63px;
}

.logo {
    width: 63px;
    height: 63px;
}

#nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 100%;
}

.search-bar-logo {
    margin-left: 20px;
    fill: #4BCC00;
}



.top {
    font-family: "Unbounded", sans-serif;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
}

.top:hover {
    color: #4BCC00;
}

#account-btn{
    font-family: "Unbounded", sans-serif;
    color: white;
    background-color: #4BCC00;
    border-radius: 30px;
    padding: 15px;
    cursor: pointer;
    font-size: 0.8rem;
}

#account-btn:hover {
    color: white;
    background-color: #40ac02;
}

#horizontal-seperator {
    background-color: white;
    width: 100vw;
    height: 1px;
    border: none;
}

#vertical-div {
    background-color: white;
    width: 1px;
    height: 87%;
    border: none;
}

main {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
}

.crypto-logo {
    width: 130px;
    height: 130px;
    margin-right: 20px;
}

#symbol {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.left-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#chart-container {
    width: 87%;
    height: 87%;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.right-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#stats-container {
    width: 87%;
    height: 87%;
    font-size: 1,5625rem;
}

#v-div-container {
    display: flex;
    height: 100%;
    align-items: center;
}

#table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px 20px 0px;
    font-size: 1,125rem;
}

#stat-seperator{
    background-color: white;
    height: 1px;
    width: 100%;
}

.info {
    font-size: 1.5625rem;
    font-family: "unbounded", sans-serif;
    color: white;
}

.gray {
    color: #AEAEAE;
    font-size: 1,125rem;
    font-family: "unbounded", sans-serif;
}

.story {
    margin-top: 40px;
    font-size: 1.5625rem;
    font-family: "unbounded", sans-serif;
    color: white;
}

#text-block {
    font-family: "unbounded", sans-serif;
    color: #AEAEAE;
    font-size: 0.85rem;
}

#column {
    display: flex;
    flex-direction: column;
}

#column p {
    font-size: 0.8rem;
    color: white;
    font-family: "unbounded", sans-serif;
    cursor: pointer;
}
#column p:hover {
    text-decoration: underline;
    opacity: 0.6;
}

.search-box {
    display: flex;
    width: 250px;
    border: 2px solid white;   
    border-radius: 25px;
    overflow: hidden;
    background-color: #fff;   
}

.search-box input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #fff;  
    color: #000;          
}

.search-box button {
    padding: 10px 15px;
    border: none;
    background: white;      
    color: white;               
    cursor: pointer;
    font-size: 1rem;
}

.search-box input::placeholder {
    color: rgb(210, 210, 210);  
    opacity: 0.8;
    font-family: "Unbounded"; 
      
}
