html, body {
    background-color: #19256E;
    background-image: radial-gradient(
        circle at 50% 40%,         /* Position : Cercle centré horizontalement (50%), un peu plus haut que le milieu (40%) */
        rgba(20, 70, 157, 0.4) 0%, /* COULEUR CENTRALE : Un bleu plus clair et transparent (la lumière) */
        rgba(25, 37, 110, 1) 70%    /* COULEUR BORDS : Le bleu foncé de base, opaque */
    );
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

@font-face {
    font-family: "Unbounded";
    src: url("../static/fonts/unbounded-medium.ttf") format("truetype");
    font-weight: medium;
    font-style: normal;
}

header {
    margin: 30px 0px 30px 0px;
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    align-items: center;
    gap: 180px;
}

.coin-logo {
    width: 63px;
    height: 63px;
}

span {
    font-family: "Unbounded", sans-serif;
    color: white;
}

#account{
    background-color: #4BCC00;
    border-radius: 30px;
    padding: 15px;
}

#horizontal-seperator {
    background-color: white;
    width: 100vw;
    height: 1px;
    border: none;
}

#vertical-div {
    background-color: white;
    width: 1px;
    height: 100%;
    border: none;
}

main {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
}

.crypto-logo {
    width: 130px;
    height: 130px;
    margin-right: 20px;
}

#symbol {
    margin-top: 13rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.left-part {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex: 1;
}

.right-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}