html, body {
    background-color: #19256E;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@font-face {
    font-family: "Unbounded";
    src: url("../static/fonts/unbounded-medium.ttf") format("truetype");
    font-weight: medium;
    font-style: normal;
}

p, #title {
    font-family: "Unbounded";
    color: rgb(255, 255, 255);
}

#title {
    font-size: 60px;
    margin: 10px 0px 10px 0px;
}

#column {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

 #row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    width: 100%;
    overflow: hidden;
 }

  .left-box {
    width: auto;
    display: flex;
    justify-content: center;
    padding-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
}

.right-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    overflow-y: auto;
}

 .horizontal-seperator {
    border: none;
    height: 1px;
    width: 100%;
    background-color: white;
    margin: 0;
 }

 .vertical-seperator {
    border: none;
    width: 1px;
    height: 100%;
    background-color: white;
    margin: 0;
 }

 #filter {
    font-size: 50px;
    font-family: "Unbounded";
 }