html, body {
    background-color: #19256E;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@font-face {
    font-family: "Unbounded";
    src: url("../static/fonts/unbounded-medium.ttf") format("truetype");
    font-weight: medium;
    font-style: normal;
}

p, #title {
    font-family: "Unbounded";
    color: rgb(255, 255, 255);
}

#title {
    font-size: 60px;
    margin: 10px 0px 10px 0px;
}

#column {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

 #row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    width: 100%;
    overflow: hidden;
 }

  .left-box {
    width: auto;
    display: flex;
    justify-content: center;
    padding-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
}

.right-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    overflow-y: auto;
}

 .horizontal-seperator {
    border: none;
    height: 1px;
    width: 100%;
    background-color: white;
    margin: 0;
 }

 .vertical-seperator {
    border: none;
    width: 1px;
    height: 100%;
    background-color: white;
    margin: 0;
 }

 #filter {
    font-size: 50px;
    font-family: "Unbounded";
 }

 .crypto-table {
    width: 90%;
    color: white;
    font-family: "Unbounded", sans-serif;
}


.table-header, .table-row {
    display: grid;

    grid-template-columns: 50px  2fr  1.5fr  1fr  1.5fr  50px;
    
    align-items: center;
    padding: 15px 0; 
}


.table-header {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}


.table-row {
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
    transition: background-color 0.2s;
}

.header-separator {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-bottom: 10px;
}

.coin-info {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.coin-logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.green-text { color: #2ecc71; }
.red-text { color: #e74c3c; }

.heart-icon {
    cursor: pointer;
    font-style: normal;
    font-size: 20px;
}